
.image{
    width:1350px;
    height:350px;
    padding-top:5px;
    padding-left:8px;
    padding-right:5px;
    box-shadow:50px rgba(0,0,0,0.5);
    cursor:not-allowed;
    pointer-events:none;
    
}